/* Scaffolding
   ========================================================================== */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: $baseFontSize;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $baseFont;
}
