$baseFont: Arial, serif !default;
$baseFontSize: 16px !default;

$colorBrand: #074e68 !default;
$colorBorder: #d8d8d8 !default;
$colorBg: #f2f2f2 !default;
$colorWhite: #fff !default;

$appWidth: 968px !default;
$contentWidth: 610px !default;

$gutter: rem(20) !default;
$gutterSmall: rem(10) !default;
