@import './scss/helpers';

.root {
  padding: $gutter;
}

.header {
  text-align: center;
}

.main {
  max-width: $appWidth;
  padding: $gutter;
  margin: auto;

  background-color: $colorBg;

  border: rem(1) solid $colorBorder;
}

.main-inner {
  max-width: $contentWidth;
  margin: auto;
}

.filters {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: $gutter;

  margin-bottom: $gutter;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter-label {
  margin-bottom: $gutterSmall;
}

.result {
  padding: $gutter;

  border: rem(1) solid $colorBorder;

  text-align: center;
}

.result-inner {
  border: rem(1) solid $colorBorder;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.item-data {
  margin-bottom: $gutterSmall;
}

.item-rank {
  padding: $gutterSmall $gutter;

  background-color: $colorBrand;

  color: $colorWhite;
}

@media screen and (min-width: $contentWidth) {
  .filters {
    grid-template-columns: 50% auto;
    grid-column-gap: $gutter;
  }
}
