<div class="root">
  <header class="header">
    <h1>{{data.pageTitleH1}}</h1>
    <h2>{{data.pageTitleH2}}</h2>
    <p>{{data.description}}</p>
    <p>
      <a [href]="data.referenceLink" target="_blank">
        {{data.referenceLink}}
      </a>
    </p>
  </header>

  <main class="main">
    <div class="main-inner">
      <div class="filters">
        <div class="filter">
          <label class="filter-label" for="keywords">Search</label>
          <input class="filter-input" name="keywords" id="keywords" type="text" #keywords
            (keyup)="search(keywords.value)">
        </div>

        <div class="filter">
          <label class="filter-label" for="currency">Currency Convert</label>
          <select class="filter-input" name="currency" id="currency" #currSelect
            (change)="selectCurr(currSelect.value, currencyOpts)">
            <option *ngFor="let currency of currencyOpts" [value]="currency.id">
              {{currency.label}}
            </option>
          </select>
        </div>

        <div class="filter">
          <label class="filter-label" for="country">Birthplace</label>
          <select class="filter-input" name="country" id="country" #countrySelect (change)="selectCountry(countrySelect.value)">
            <option *ngFor="let country of countryOpts" [value]="country.value">
              {{country.label}}
            </option>
          </select>
        </div>

        <div class="filter">
          <label class="filter-label" for="order">Order By</label>
          <select class="filter-input" name="order" id="order" #orderSelect (change)="selectOrder(orderSelect.value)">
            <option *ngFor="let order of orderOpts" [value]="order.value">
              {{order.label}}
            </option>
          </select>
        </div>
      </div>

      <div class="result">
        <div class="result-inner">
          <ul *ngIf="data.celebrityListClone.length" class="list">
            <li *ngFor="let celebrity of data.celebrityListClone" class="item">
              <div class="item-data item-rank">No: {{celebrity.rank}}</div>
              <div class="item-data item-name">Name: {{celebrity.name}}</div>
              <div class="item-data item-networth">
                Net Worth: {{selectedCurr.symbol}}{{selectedCurr.code}} {{celebrity.netWorthConverted | number}}
              </div>
              <div class="item-data item-age">Age: {{celebrity.age}}</div>
              <div class="item-data item-country">Country of Birth: {{celebrity.country}}</div>
            </li>
          </ul>

          <div *ngIf="inited && data.celebrityListClone.length === 0">
            No results found
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
